.gridContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-top: 2rem;
    row-gap: 2rem;


}

.mainContainer {

    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-bottom: 2rem;
}


@media (max-width: 600px) {
    .gridContainer {
        grid-template-columns: repeat(2, 1fr);
    }
}